
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>



<div class="d-flex text-dark">
  <div class="col-6">
    <div class="card bg-dark col-12" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title text-white">Product Entry</h3>
        <form [formGroup] = productFormGroup>
          <div class="container">




            <mat-form-field class="col-12" appearance = "fill">
              <input matInput class="text-white" placeholder="Enter Product" formControlName="productName">
              <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productFormGroup.controls['productName'].valid && productFormGroup.controls['productName'].touched">
                <mat-error *ngIf="productFormGroup.controls['productName'].hasError('required')">This field is Required</mat-error>
                <mat-error *ngIf="productFormGroup.controls['productName'].hasError('minlength')">Minimum length of Product is {{productFormGroup.controls['productName'].getError('minlength').requiredLength}}</mat-error>
                <mat-error *ngIf="productFormGroup.controls['productName'].hasError('maxlength')">Maximum length of name is {{productFormGroup.controls['productName'].getError('maxlength').requiredLength}}</mat-error>
              </div>
            </mat-form-field>
            <mat-form-field class="col-12" appearance = "fill">
              <input matInput class="text-white" placeholder="Add description" formControlName="description">
              <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productFormGroup.controls['description'].valid && productFormGroup.controls['description'].touched">
                <!-- <mat-error *ngIf="productFormGroup.controls['description'].hasError('required')">This field is Required</mat-error> -->
                <!-- <mat-error *ngIf="productFormGroup.controls['description'].hasError('minlength')">Minimum length of Product is {{productFormGroup.controls['description'].getError('minlength').requiredLength}}</mat-error> -->
                <mat-error *ngIf="productFormGroup.controls['description'].hasError('maxlength')">Maximum length of name is {{productFormGroup.controls['description'].getError('maxlength').requiredLength}}</mat-error>
              </div>
            </mat-form-field>
            <div class="example-button-row">
              <p-confirmDialog #cd [style]="{width: '30vw'}" header="Confirmation" icon="pi pi-exclamation-triangle" [transitionOptions]="'0.8ms'">
                <ng-template pTemplate="header">
                  <h3>Header Content</h3>
                </ng-template>
                <ng-template pTemplate="footer">
                  <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                  <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
                </ng-template>
              </p-confirmDialog>
              <button mat-button color="accent" (click)="saveProduct()" >Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">right</div>
</div>



<div class="d-flex" *ngIf="!isProduction">
  <div class="col-4" style="border: 2px solid white;">
    <pre>productFormGroup= {{productFormGroup.value | json}}</pre>
  </div>
  <div class="col-4" style="border: 2px solid white;">
    <pre>userObject= {{userObject | json}}</pre>
  </div>
  <div class="col-4" style="border: 2px solid white;">right</div>
</div>
