<div class="d-flex text-dark">
  <div class="col-6">
    <div class="card bg-dark col-12" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title text-white">Product Entry</h3>
        <form [formGroup] = productFormGroup>
          <div class="container">
            <mat-form-field class="col-12" appearance = "fill">
              <input matInput class="text-white" placeholder="Enter Product" formControlName="productName">
              <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productFormGroup.controls['productName'].valid && productFormGroup.controls['productName'].touched">
                <mat-error *ngIf="productFormGroup.controls['productName'].hasError('required')">This field is Required</mat-error>
                <mat-error *ngIf="productFormGroup.controls['productName'].hasError('minlength')">Minimum length of Product is {{productFormGroup.controls['productName'].getError('minlength').requiredLength}}</mat-error>
                <mat-error *ngIf="productFormGroup.controls['productName'].hasError('maxlength')">Maximum length of name is {{productFormGroup.controls['productName'].getError('maxlength').requiredLength}}</mat-error>
              </div>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">right</div>
</div>
